<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>

<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusquedaNomApe"
    placeholder="Ingresar un nombre o apellido">
    <br>
    <input type="text" class="form-control" v-model="criterioDeBusquedaDni" placeholder="Ingresar DNI">
    <br>
    <div class="alert alert-danger" role="alert" v-if="alertDni || alertNombre">
        Escribe al menos 3 caracteres
    </div>
    
    <br>
    <br>

    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">DNI: {{persona.dni}}</p>
                        <a href="#" class="card-link"><i>{{persona.correo}}</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusquedaNomApe: '',
            criterioDeBusquedaDni: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sanchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Marcos",
                    apellido: "Manchinelli",
                    correo: "manchinelli.m@gmail.com",
                    dni: "37360946"
                },
                {
                    nombre: "Gerardo",
                    apellido: "Benitez",
                    correo: "gb202@gmail.com",
                    dni: "23021993"
                },
            ]

        },
        computed: {
            personasFiltradasNomApe() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusquedaNomApe.toLowerCase())
                });
            },
            personasFiltradasDni() {
                return this.personas.filter((persona) => {
                    return persona.dni.includes(this.criterioDeBusquedaDni)
                });
            },
            personasFiltradas() {
                return this.personasFiltradasDni.filter((persona) => {
                    return this.personasFiltradasNomApe.includes(persona)
                })
            },
            alertNombre() {
                let result = false
                if (this.criterioDeBusquedaNomApe.length < 3 && this.criterioDeBusquedaNomApe.length != "") {
                    result = true
                }
                return result
            },
            alertDni() {
                let result = false
                if (this.criterioDeBusquedaDni.length < 3 && this.criterioDeBusquedaDni.length != "") {
                    result = true
                }
                return result
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>